<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/favicon/tiger-152-13252.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/tiger-144-13252.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon/tiger-152-13252.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon/tiger-144-13252.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon/tiger-120-13252.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon/tiger-114-13252.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon/tiger-72-13252.png">
<link rel="apple-touch-icon-precomposed" href="/favicon/tiger-57-13252.png">
<link rel="icon" href="/favicon/tiger-32-13252.png" sizes="32x32">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="theme-color" content="#000000">
<link href="https://fonts.googleapis.com/css?family=Lato|Merriweather+Sans:300" rel="stylesheet">
<link rel="manifest" href="/manifest.json">
<title>Bhuvan's Site</title>
<link href="/css/main.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" >
