<div class="navbar-wrapper">
<div class="navbar col-md-10 col-sm-12">
    <div class="navbar-link navbar-link-brand">
        <a class="navbar-brand" href="/">bhuvy</a>
    </div>
    <div class="navbar-link navbar-link-toggle navbar-light">
        <button type="button" class="mr-2 navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <nav class="navbar-items navbar-items--right">
        <div class="navbar-link">
            <a class="nav-link" href="/writing">Writing</a>
        </div>
        <div class="navbar-link">
            <a class="nav-link" href="/tech">Tech</a>
        </div>
    </nav>
</div>
</div>
