html {
    min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "ITC Avant Garde";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-family: "Futura";
}

nav {
    margin: auto;
    border-bottom: 4px solid black;
}

nav.bg-light {
    background-color: transparent !important;
}

div.mobile-nav {
    display: none;
}

@media screen and (max-width: 800px){
    div.mobile-nav {
        display: inherit;
    }
}

p {
    font-family: "Century Gothic";
}

body, .full-height, #root {
    min-height: 100vh;
}

.content-row {
    min-height: 80vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button.back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 40px;
}

button.back-button:focus {
    outline: none;
}

#content {
    min-height: 100%;
    padding-top: 5vh;
}
